# Exploration des données

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats 
import numpy
import seaborn as sns

### Import et présentation des données

In [8]:
path = './data'
x_data = pd.read_csv(path+'/Xtrain_hgcGIrA.csv', sep=',') # features
y_data = pd.read_csv(path+'/Ytrain_yL5OjS4.csv', sep=',', index_col=0) # occupancy rate

data = pd.merge(
    x_data,
    y_data,
    how="inner",
    left_index=True,
    right_index=True,
    copy=True,
    indicator=False,
    validate=None,
) # merged dataframe
data.head()

,date,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
1,2019-01-08,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.204,0.152,0.106,0.216
2,2019-01-10,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.153,0.111,0.216
3,2019-01-11,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.213,0.152,0.108,0.227
4,2019-01-14,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.210,0.147,0.096,0.229
5,2019-01-15,1,0,AD,06:00:00,2,NaN,NaN,NaN,0.218,0.154,0.106,0.225

#TODO Description des champs

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31118 entries, 1 to 31118
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         31118 non-null  object
 1   train        31118 non-null  int64
 2   way          31118 non-null  int64
 3   station      31118 non-null  object
 4   hour         27914 non-null  object
 5   composition  31118 non-null  int64
 6   p1q0         29067 non-null  float64
 7   p2q0         26974 non-null  float64
 8   p3q0         24935 non-null  float64
 9   p0q1         27916 non-null  float64
 10  p0q2         24719 non-null  float64
 11  p0q3         21526 non-null  float64
 12  p0q0         31118 non-null  float64
dtypes: float64(7), int64(3), object(3)
memory usage: 3.3+ MB

In [13]:
data['train'] = data['train'].astype('category')
data['way'] = data['way'].astype('category')

### Étude des données

##### Gestion des NaN

In [ ]:
# qu'est ce qu'on fait avec les NAN, d'où ils viennent

##### Statistiques chiffrés

In [14]:
data.describe()

,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3,p0q0
count,31118.000000,29067.000000,26974.000000,24935.000000,27916.000000,24719.000000,21526.000000,31118.000000
mean,1.999647,0.234769,0.251392,0.316867,0.207201,0.222171,0.209851,0.248748
std,0.018798,0.166153,0.143506,0.150974,0.134711,0.147603,0.144859,0.157366
min,1.000000,0.000000,0.000000,0.000000,0.004000,0.004000,0.004000,0.000000
25%,2.000000,0.094000,0.136000,0.196000,0.099000,0.107000,0.100000,0.121000
50%,2.000000,0.192000,0.230000,0.312000,0.181000,0.188000,0.172000,0.220000
75%,2.000000,0.363000,0.354000,0.420000,0.294000,0.322000,0.292000,0.360000
max,2.000000,0.934000,0.937000,0.937000,0.969000,0.974000,0.974000,0.974000

#TODO analyser ci-dessus

In [15]:
data.median(numeric_only=True)

composition    2.000
p1q0           0.192
p2q0           0.230
p3q0           0.312
p0q1           0.181
p0q2           0.188
p0q3           0.172
p0q0           0.220
dtype: float64

##### Plots