In [13]:
import pandas as pd

In [14]:
path = "./data"
x_data_test = pd.read_csv(path + "/Xtest.csv")
x_data = pd.read_csv(path + "/Xtrain_hgcGIrA.csv", sep=",")
y_data = pd.read_csv(
    path + "/Ytrain_yL5OjS4.csv", sep=",", usecols=[1]
)  # occupancy rate

In [15]:
# category station
x_data["station"] = x_data["station"].astype("category")
x_data_test["station"] = x_data["station"].astype("category")

# drop date
x_data.drop("date", axis=1, inplace=True)
x_data_test.drop("date", axis=1, inplace=True)

# drop na
x_data.dropna(subset=["hour"], inplace=True)

# fill ith zeros
x_data[["p1q0", "p2q0", "p3q0", "p0q1", "p0q2", "p0q3"]] = x_data[
    ["p1q0", "p2q0", "p3q0", "p0q1", "p0q2", "p0q3"]
].fillna(0)
x_data_test[["p1q0", "p2q0", "p3q0", "p0q1", "p0q2", "p0q3"]] = x_data_test[
    ["p1q0", "p2q0", "p3q0", "p0q1", "p0q2", "p0q3"]
].fillna(0)
# hour to int
x_data["hour"] = x_data["hour"].apply(lambda x: int(x[:2]))
x_data_test["hour"] = x_data_test["hour"].apply(
    lambda x: 0 if type(x) == float else int(x[:2])
)

cat_columns = x_data.select_dtypes(["category"]).columns
cat_columns_test = x_data_test.select_dtypes(["category"]).columns
x_data[cat_columns] = x_data[cat_columns].apply(lambda x: x.cat.codes)
x_data_test[cat_columns_test] = x_data_test[cat_columns].apply(
    lambda x: x.cat.codes
)

y_data = y_data.iloc[x_data.index]

x_data_test

,train,way,station,hour,composition,p1q0,p2q0,p3q0,p0q1,p0q2,p0q3
0,1,0,3,6,2,0.000,0.000,0.00000,0.226,0.165,0.128
1,1,0,3,6,2,0.000,0.000,0.00000,0.221,0.159,0.114
2,1,0,3,6,2,0.000,0.000,0.00000,0.227,0.175,0.133
3,1,0,3,6,2,0.000,0.000,0.00000,0.200,0.148,0.105
4,1,0,3,6,2,0.000,0.000,0.00000,0.221,0.169,0.126
...,...,...,...,...,...,...,...,...,...,...,...
13747,9,0,23,8,2,0.121,0.145,0.15715,0.071,0.095,0.000
13748,9,0,23,8,2,0.144,0.139,0.15300,0.079,0.102,0.000
13749,9,0,23,8,2,0.128,0.137,0.12700,0.072,0.089,0.000
13750,9,0,23,8,2,0.164,0.187,0.15500,0.100,0.130,0.000
13751,9,0,23,8,2,0.146,0.172,0.12700,0.080,0.093,0.000

In [16]:
from sklearn.linear_model import LinearRegression

lin = LinearRegression()
lin.fit(x_data, y_data)
lin.score(x_data, y_data)

0.910263833303542

In [17]:
y = lin.predict(x_data_test)

In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
from export import export_to_csv

export_to_csv(y, "linear_regression")